.bid-ai-ad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .avatar-container {
    margin-bottom: 20px;

    .avatar {
      border-radius: 5%;
      max-width: 300px;
    }
  }

  .form-container {
    width: 600px;
  }
}