.nft-image-container {
  height: 100%;
  border-radius: 22px;
  box-sizing: border-box;
  transition: box-shadow 0.1s ease-in-out;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;

  .svg-container {
    border-radius: 22px;
    width: 160px;
    height: 160px;
    position: relative;
    margin-right: 36px;

    .nft-image {
      height: 100%;
      width: 100%;
      border-radius: 22px;
      box-sizing: border-box;
    }

    .nft-badge-container {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      top: 0;

      img {
        width: 100%;
      }
    }

  }

  .nft-description {
    flex: 1;
    font-weight: 700;
    margin-top: 20px;

    .description {
      display: inline-block;
      max-width: 200px;
      color: #10121A;
      opacity: 0.4;
      font-weight: normal;
    }

    .rank {
      color: #10121A;
      font-size: 22px;
      display: flex;
      align-items: center;
    }

    .upgrade {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 10px;
      color: white;
      background: #EC672B;
      border-radius: 23px;
      padding: 2px 8px;
      margin-left: 4px;
      height: 24px;

      &:hover {
        cursor: pointer;
      }

      >span:first-child {
        margin-right: 8px;
      }
    }

    .price {
      display: flex;
      align-items: center;
      font-size: 28px;

      > span {
        margin-left: 12px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .nft-image-container {
    &.selected {
      box-shadow: 0px 0px 0px 1px #1DA1F2 !important;
    }
  }
}