@import '../../styles.scss';

.nav-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, .12);
  display: flex;

  .logo-container {
    .logo {
      float: left;
      width: 120px;
      height: 31px;

      img {
        width: 100%;
      }
    }
  }

  .nav-item-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .nav-item {
      margin: 0 15px;
      opacity: 0.5;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &.active {
        opacity: 1;

        .marker {
          visibility: visible;
        }
      }

      .label {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #10121A;
      }
      .marker {
        width: 10px;
        height: 2px;
        background: #10121A;
        border-radius: 1px;
        visibility: hidden;
      }
    }
  }

  .action-btn-container {
    margin-right: 10px;
  }

  .user {
    .avatar {
      background-color: #f3f3f3;
    }

    .avator-image {
      width: 40px;
    }
  }
}