.my-nfts {
  .title-container {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: black;

    .title {
      display: flex;
      align-items: center;
      font-size: 36px;
    }

    .sub-title {
      font-size: 20px;
    }
  }

  .select-network {
    margin-top: 56px;
    font-weight: 700;
    font-size: 20px;
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;

    .ant-spin-spinning {
      margin: auto;
    }
  }

  .no-nfts-container {
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    border-radius: 10px;

    .tips {
      margin-top: 26px;
      font-size: 20px;
      color: rgba(28, 34, 45, 0.3);
    }
  }

  .buttons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      width: 40%;

      &+button {
        margin-left: 16px;
      }
    }
  }

  .nfts-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hnftCard {
      margin-bottom: 20px;
    }
  }

}